---
import { Icon } from "astro-icon/components";
---

<div class="flex flex-col items-center space-y-5">
  <h3 class="w-fit text-xl px-4 py-1 font-bold">Our Services</h3>
  <h3 class="text-3xl text-center font-bold text-powder-blue md:w-3/4">
    Empowering Futures: Our Comprehensive Services for Vulnerable Youth.
  </h3>
  <p class="text-gun-metal-light md:text-xl text-center md:w-3/4">
    Our objective at Harbour Light  is to provide supported accommodation
    tailored to meet the unique needs of young people while also aligning with
    Local Authority regulations. This includes catering to two distinct
    categories
    <br />
    <span class="font-bold">
      (These accommodations may also extend support to care leavers aged 18 and
      above.)
    </span>
  </p>
  <div class="flex flex-col justify-center space-y-4 md:flex-row py-12">
    <div class="flex flex-col items-center">
      <div class="flex items-center">
        <Icon name="user" class="size-10 md:size-14" />
        <p class="text-gun-metal text-xl font-semibold">Solo Placements</p>
      </div>
      <p class="text-gun-metal-light md:text-xl text-center md:w-3/4">
        Providing individualised accommodation options for young people.
      </p>
    </div>
    <div class="flex flex-col items-center">
      <div class="flex items-center">
        <Icon name="user" class="size-10 md:size-14" />
        <p class="text-gun-metal text-xl font-semibold">Solo Placements</p>
      </div>
      <p class="text-gun-metal-light md:text-xl text-center md:w-3/4">
        Providing individualised accommodation options for young people.
      </p>
    </div>
  </div>
  <p class="text-gun-metal-light md:text-xl text-center md:w-3/4">
    Our portfolio of properties across the UK offers safe and secure
    accommodation with 24/7 staffing and CCTV surveillance. Our dedicated team
    provides comprehensive support to young people, assisting them with managing
    their health needs, preparing for educational and career pathways, and
    navigating everyday tasks such as opening bank accounts and obtaining
    national insurance numbers.
  </p>
  <p class="text-gun-metal-light md:text-xl text-center md:w-3/4">
    Serving as positive role models, our staff impart valuable life skills
    covering areas such as cooking, budgeting, and maintaining a tidy living
    space. With their guidance, young people are empowered to thrive as they
    transition towards independent living.
  </p>
</div>
