---
import MainLayout from "../components/MainLayout.astro";
import Landing from "../components/Landing.astro";
import OurMission from "../components/OurMission.astro";
import AboutUs from "../components/AboutUs.astro";
import OurTeam from "../components/OurTeam.astro";
---

<MainLayout>
  <div class="space-y-32">
    <div class="pt-28">
      <Landing />
      <AboutUs />
    </div>
    <OurMission />
    <OurTeam />
  </div>
</MainLayout>
