---
import MainLayout from "../components/MainLayout.astro";
import Landing from "../components/Landing.astro";
import WhoAreWe from "../components/WhoAreWe.astro";
---

<MainLayout>
  <div class="space-y-24">
    <Landing />
    <WhoAreWe />
  </div>
</MainLayout>
