---
import MainLayout from "../components/MainLayout.astro";
import Landing from "../components/Landing.astro";
import WhoAreWe from "../components/WhoAreWe.astro";
import OurStory from "../components/OurHistory.astro";
import Team from "../components/Team.astro";
import OurHouse from "../components/OurHouse.astro";
import Testemonies from "../components/Testemonies.astro";
---

<MainLayout>
  <div class="space-y-24">
    <Landing />
    <WhoAreWe />
    <OurStory />
    <Team />
    <OurHouse />
    <Testemonies />
  </div>
</MainLayout>
