---
import MainLayout from "../components/MainLayout.astro";
import Landing from "../components/Landing.astro";
import OurMission from "../components/OurMission.astro";
import AboutUs from "../components/AboutUs.astro";
---

<MainLayout>
  <div class="space-y-24">
    <div>
      <Landing />
      <AboutUs />
    </div>
    <OurMission />
  </div>
</MainLayout>
