---
import Container from "./Container.astro";
---

<div class="bg-gradient-to-b from-powder-blue/10 from-90% to-white">
  <Container>
    <div class="space-y-3 py-10">
      <h3 class="text-3xl font-bold text-gun-metal">
        Our contemporary facilities offer a safe haven for growth and
        development. Our History
      </h3>
      <p class="text-gun-metal-light md:text-xl text-justify">
        At Harbour Light, young people's welfare is our priority. Our
        experienced team, with backgrounds in supported living, business, and
        youth projects, listens to and respects their rights and aspirations,
        providing a nurturing environment.
      </p>
      <p class="text-gun-metal-light md:text-xl text-justify">
        We offer warm, comfortable, and secure accommodation, creatively
        furnished and maintained. Our dedicated staff, trained and empathetic,
        serve as positive role models, offering tailored support and
        opportunities.
      </p>
      <p class="text-gun-metal-light md:text-xl text-justify">
        Through our unique tailor made programs, we help young people build
        support networks and vital life skills, fostering confidence for their
        future. Acknowledging diverse backgrounds, we empower young people to
        overcome low self-esteem, encouraging positive choices and aspirations.
        Our advocacy extends to helping them access independent support services
        and seize opportunities for personal growth and success.
      </p>
    </div>
  </Container>
</div>
