---
import { Icon } from "astro-icon/components";
---

<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="flex justify-center">
    <h3 class="text-3xl font-bold">What’s people opinion of us?</h3>
  </div>
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
    <slot />
  </div>
  <!-- Slider indicators -->
  <div
    class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
  >
    {
      [1, 2, 3, 4, 5].map((index) => (
        <button
          type="button"
          class="w-3 h-3 rounded-full  bg-powder-blue hover:bg-gun-metal"
          aria-current="true"
          aria-label={`Slide {index}`}
          data-carousel-slide-to={index - 1}
        />
      ))
    }
  </div>
  <!-- Slider controls -->
  <button
    type="button"
    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <Icon
      name="solar:round-arrow-left-linear"
      class="text-[2.5rem] text-powder-blue hover:text-gun-metal"
    />
  </button>
  <button
    type="button"
    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <Icon
      name="solar:round-arrow-right-linear"
      class="text-[2.5rem] text-powder-blue hover:text-gun-metal"
    />
  </button>
</div>
