---
import logo from "../images/logo.png";
import Image from "astro/components/Image.astro";
import ContactUs from "../components/ContactUs.astro";
---

<div id="contact" class="w-full bg-gun-metal text-white">
  <ContactUs />
  <hr />
  <div class="flex items-center justify-between px-8 py-2">
    <div class="md:space-y-2">
      <div class="md:flex items-center space-x-2 hidden">
        <Image alt="logo" src={logo} loading={"lazy"} />
        <h2>Harbour Light Homes</h2>
      </div>
      <p>©<span id="copyright-year"></span>All Rights Reserved</p>
    </div>
    <a
      href="#"
      class="relative w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center"
    >
      Developed By, Kerod
    </a>
  </div>
</div>

<!-- Set Dynamic Copyright Year-->
<script>
  const currentYear = new Date().getFullYear();
  const buttons = document.getElementById("copyright-year");
  buttons!.textContent = `${currentYear.toString()}.`;
</script>
