---
import landingImage from "../images/landingImage.png";
import { Image } from "astro:assets";
---

<div class="bg-pattern flex flex-col items-center space-y-8">
  <h3 class="w-fit text-xl px-4 py-1 font-bold">Welcome to Harbour Light</h3>
  <h1
    class="text-3xl md:text-6xl sm:w-1/2 text-powder-blue leading-[4rem] text-center font-bold"
  >
    Guiding Young People to Success.
  </h1>
  <h4
    class="text-xl md:text-2xl px-4 md:w-[80%] text-center text-gun-metal-light"
  >
    Step into a world of possibilities at Harbour Light, where we're dedicated
    to lighting up the path to success for young people. Specialising in
    tailored supported living services, we cater to semi-independent individuals
    aged 16-18.
  </h4>
  <Image
    alt="Landing Image, Happy Teenagers"
    src={landingImage}
    class="w-full"
  />
</div>
