---
import landingImage from "../images/landingImage.png";
import { Image } from "astro:assets";
---

<div class="bg-pattern flex flex-col items-center space-y-10">
  <h3
    class="w-fit border-2 bg-powder-blue/35 border-powder-blue rounded-xl px-2 py-1 font-bold"
  >
    Welcome to harbouHarbour Light Homes
  </h3>
  <h1 class="text-5xl w-1/2 leading-[5rem] text-center font-bold">
    Building Bright Futures with Compassion and Support
  </h1>
  <h4 class="text-xl w-1/2 text-center text-gun-metal-light">
    We strive to create an atmosphere of trust, respect and understanding for
    our children, so that they may be able to reach their full potential.
  </h4>
  <Image
    alt="Landing Image, Happy Teenagers"
    src={landingImage}
    class="w-full"
  />
</div>
