---
import Container from "../components/Container.astro";
import ourHistoryImage1 from "../images/ourHistoryImage1.png";
import ourHistoryImage2 from "../images/ourHistoryImage2.png";
import { Image } from "astro:assets";
---

<div class="bg-pattern">
  <Container>
    <div class="md:grid grid-cols-2">
      <div class="flex flex-col items-center space-y-3">
        <h3 class="text-3xl font-bold text-powder-blue md:w-3/4">
          At Harbour Light, our mission is clear: to empower young voices,
          foster secure spaces, and nurture futures filled with confidence and
          opportunity. Our History
        </h3>
        <p class="text-gun-metal-light md:text-xl text-justify md:w-3/4">
          We strive to create environments where young people feel safe and
          secure in both their living spaces and broader surroundings. Their
          voices are not only respected but also heard and advocated for,
          ensuring they have a say in the support they receive.
        </p>
        <Image alt="Happy Teenagers" src={ourHistoryImage1} />
      </div>
      <div class="flex flex-col items-center space-y-3">
        <Image
          class="order-last md:order-none mt-2 md:mt-0"
          alt="Happy Teenagers"
          src={ourHistoryImage2}
        />

        <p class="text-gun-metal-light md:text-xl text-justify md:w-3/4">
          We are committed to understanding their unique needs, working together
          effectively to meet them with skill and empathy. Providing
          comfortable, well-maintained, and stable accommodation, we offer
          high-quality, tailored support that sustains young people’s health and
          wellbeing. Within our supportive community, young people cultivate
          strong, trusting relationships and develop the skills needed for
          independent adult living. As a result, they feel positive about their
          future and the opportunities that lie ahead.
        </p>
        <p class="text-gun-metal-light md:text-xl text-justify md:w-3/4">
          Within our supportive community, young people cultivate strong,
          trusting relationships and develop the skills needed for independent
          adult living. As a result, they feel positive about their future and
          the opportunities that lie ahead.
        </p>
      </div>
    </div>
  </Container>
</div>
