---
import Carousel from "../components/Carousel.astro";
import Container from "./Container.astro";
const testemonies = [
  {
    content:
      "I am extremely satisfied with the service provided by ABC Company. From start to finish, they demonstrated professionalism, attention to detail, and excellent communication. The team was responsive to my needs and delivered results beyond my expectations. I highly recommend ABC Company for anyone seeking top-notch service.",
    writer: "Abebe Kebede",
  },
  {
    content:
      "Working with XYZ Corporation was an absolute pleasure. Their dedication to quality and customer satisfaction is evident in every interaction. The product exceeded my expectations in terms of performance and reliability. I am grateful for the exceptional experience and look forward to future collaborations.",
    writer: "Bereket Alemu",
  },
  {
    content:
      "I had the pleasure of collaborating with DEF Solutions on a recent project, and I must say, I am thoroughly impressed. Their innovative approach, coupled with a strong focus on delivering value, made the entire process seamless. I highly recommend DEF Solutions to anyone seeking cutting-edge solutions.",
    writer: "Kebedech Abebe",
  },
  {
    content:
      "The quality of the product provided by XYZ Corporation is unparalleled. It not only met but exceeded my expectations in terms of durability and functionality.  I am a satisfied customer and will continue to choose XYZ Corporation for my future needs.",
    writer: "Alemu Bereket",
  },
  {
    content:
      "My experience with LMN Services was exceptional in every way. From initial consultation to project completion, they demonstrated professionalism and expertise. The attention to detail and commitment to delivering results were evident throughout the process. I highly recommend LMN Services for anyone seeking reliable and high-quality solutions.",
    writer: "Kebede Kebedech",
  },
];
---

<Container>
  <Carousel>
    {
      testemonies.map((testemony) => (
        <div
          class="duration-700 h-full  ease-in-out flex flex-col items-center md:space-y-5 justify-center "
          data-carousel-item
        >
          <p class="md:w-2/3  text-gun-metal-light text-justify md:text-center py-5">
            {testemony.content}
          </p>
          <h3 />
          <h3 class="text-2xl text-gun-metal-light font-bold">
            {testemony.writer}
          </h3>
        </div>
      ))
    }
  </Carousel>
</Container>
