---
import { Icon } from "astro-icon/components";
---

<div class="flex flex-col items-center space-y-5">
  <h3 class="text-3xl font-bold">Who are we?</h3>
  <p class="w-2/3 text-xl text-gun-metal-light text-center">
    At Harbour Light Homes, we are dedicated to providing high-quality care for
    vulnerable and at-risk youth, fostering trust, confidence, and social skills
    in a safe and nurturing environment. Our experienced team ensures the
    highest standards of care and safety, fostering an atmosphere of trust,
    respect, and understanding to empower each teenager to reach their full
    potential.
  </p>
  <div class="flex space-x-8">
    <p class="flex font-semibold">
      <Icon class="mr-2 text-2xl text-powder-blue" name="safety" />Safety
    </p>
    <p class="flex font-semibold">
      <Icon class="mr-2 text-2xl text-powder-blue" name="nurturing" />Nurturing
    </p>
    <p class="flex font-semibold">
      <Icon class="mr-2 text-2xl text-powder-blue" name="empower" />Empowerment
    </p>
  </div>
</div>
